<!DOCTYPE html>
<html>
    
    <head>
        
        <title> Throne of Eden | Home </title> 
        <meta charset="utf-8" />
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        
        <link rel="stylesheet" type="text/css" href="/font-awesome/css/font-awesome.min.css"/>
        <link rel="stylesheet" type="text/css" href="/fonts/fonts.min.css" />
        <link rel="stylesheet" type="text/css" href="/css/stylesheet.css">

        
    </head>
    
    <body>
        
        <div class="container-fluid">

			<!-- navbar navbar-default -->
			<div class="navbar navbar-default" role="navigation">
				
				<!-- navbar-header -->
				<div class="navbar-header">
					
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					
                    <a class="navbar-brand brand-sm" href="#">
                        
                        <img src="/img/banner-logo.jpg" id="logo" class="" width="300" height="80">

                    </a>					
					
				</div><!-- /navbar-header -->
				
                <div class="nav-wrapper">
                   
                    <!-- navbar -->
                    <div class="navbar-collapse collapse">
                       
                        <ul class="nav navbar-nav left">
                            <li><a href="index.html">HOME</a></li>
                            <li><a href="about.html">ABOUT</a></li>
                        </ul>
                    
                        <ul class="nav navbar-nav right">
                            <li><a href="music.html">MUSIC</a></li>
                            <li><a href="https://throneofeden.bandcamp.com/merch" target="_blank">MERCH</a></li>
                        </ul>
                        
                    </div><!-- /navbar -->
                    
                </div>
                
            </div><!-- /navbar navbar-default -->            
            
            <div class="navbar social-bar social-lg" id="social">
                
                <div class="social-links-container">   

                    <div id="social-links">

                        <a href="https://www.facebook.com/throneofedenband" target="_blank">
                            <i class="fa fa-facebook fa-lg fa-top-link"></i>
                        </a>
                        
                        <a href="https://www.instagram.com/throneofedenband/" target="_blank">
                            <i class="fa fa-instagram fa-lg fa-top-link"></i>
                        </a>
                        
                        <a href="https://www.twitter.com/throneofedenal" target="_blank">
                            <i class="fa fa-twitter fa-lg fa-top-link"></i>
                        </a>
                        
                        <a href="https://www.youtube.com/throneofedenband" target="_blank">
                            <i class="fa fa-youtube fa-lg fa-top-link"></i>
                        </a>
                        
                        <a href="https://open.spotify.com/artist/09FPTlK7mMMXZdpKnyTBgy" target="_blank">
                            <i class="fa fa-spotify fa-lg fa-top-link"></i>
                        </a>
                        
                        <a href="https://soundcloud.com/throne-of-eden" target="_blank">
                            <i class="fa fa-soundcloud fa-lg fa-top-link"></i>
                        </a>
                                                
                        <a href="http://throneofeden.bandcamp.com" target="_blank">
                            <i class="fa fa-bandcamp fa-lg fa-top-link"></i>
                        </a>
                        
                        <a href="https://www.reverbnation.com/throneofeden" target="_blank">
                            <i class="fa fa-star fa-lg fa-top-link"></i>
                        </a>

                    </div>

                </div>
                
            </div>   
             
            <div id="carouselHacked" class="carousel slide carousel-fade" data-ride="carousel">
               
                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">

                    <div class="item active"></div>
                    <div class="item"></div>
                    <div class="item"></div>

                </div>

                <!-- Controls -->
                <a class="left carousel-control" href="#carouselHacked" role="button" data-slide="prev">

                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>

                </a>

                <a class="right carousel-control" href="#carouselHacked" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>

                </a>

            </div>
            
            <br><br><br><br><br><br>
            
            <div class="container">

                <div class="row content">

                    <h1 class="content-header" id="press-review-header">PRESS REVIEWS</h1><br>

                    <div class="container">

                        <hr class="styled"><br><br>

                    </div>
                    
                    <div class="well">
                       
                        <p>
                            "Throne of Eden’s solos are a breath of fresh air in a rock era currently dominated with one-finger chords. “Tombstone Lullaby” could certainly be considered Throne of Eden’s most challenging, intense, and passionate showcase of their combined talent and innovation to date."
                        </p>
                        
                        <cite>- Rick Jamm, Jamsphere Magazine (Apr 14, 2015)</cite> 
                        
                    </div>
                    
                    <div class="well">
                       
                        <p>
                            "Throne of Eden have cohesively meshed powerful bludgeoning metal riffs with radio and mainstream appeal with such beauty and creativity that I am undoubtedly convinced they will become one of the icons in hard rock and metal over the next decade!"
                        </p>
                        
                        <cite>- Rick Jamm, Jamsphere Magazine (Apr 14, 2015)</cite> 
                        
                    </div>
                    
                    <div class="well">
                       
                        <p>
                            “Fans of bands like Avenged Sevenfold and Atreyu will instantly gravitate towards the music on this EP. The band contains a similar sound, which I can only imagine over time will become more their own. One of the first things I noticed when listening to “Tombstone Lullaby” was the fantastic production. The production is just about perfect for the music the band plays. Everything lies where it’s supposed to in the mix, which only adds to the visceral impact of the song.”
                        </p>
                        
                        <cite>- Jamie Funk, The Equal Ground (Jan 06, 2015)</cite> 
                        
                    </div>
                    
                    <div class="well">
                       
                        <p>
                            "Throne of Eden is something that I haven't heard for a long time style-wise. It reminds me very much of the metalcore Avenged Sevenfold with the vocal traits of Deftones but with more bells and that creepy feeling you get from realizing the plot twist in a movie. I invite you all to listen to their song "Tombstone Lullaby" and enjoy it as much as I did, not even kidding this brought back memories, man. The lyrics seem very thought out, and are incredibly delivered by this Jasper, Alabama band whom I wish the best of luck to."
                        </p>
                        
                        <cite>- Dalton Deatrich, Last Great Band (Aug 12, 2014)</cite> 
                        
                    </div>
                                        
                </div>
                   
                <br><br><br>               
                                                       
                <div class="row content">

                    <h1 class="content-header" id="fan-review-header">FAN REVIEWS</h1><br>

                    <div class="container">

                        <hr class="styled"><br><br>

                    </div>
                    
                    <div class="well">
                        
                        <h2 style="text-align: left !important;">ReverbNation Fan Review:</h2><br>
                        <p style="text-align: center !important;">(Tombstone Lullaby)</p>
                        <p>“An engaging and expressive introduction that led without flaw into the next set of the song. The background was rich and tuneful. The instrumentals were well done. The vocalist had an adequate range and sounded talented through out the song The switch between the lighter music and the harder tempos were integrated nicely into the song. A heavy beat and proficient performance.”</p>

                        <p>“The song boasts talented members, as it becomes quite clear all members are skilled in both the genre and at what they do. The lead vocals are very suited for the genre, as they carry a certain sense of melancholy.”</p>

                        <p>“We all have talents and this artist's talent is music. This artist will shoot all the way to the top and it won't be long once this song is published. There is a lot of greatness to this song. It has a positive flow and a wonderful beat and is a song that anyone can listen to. The song does a wonderful job in keeping the listener entertained and the artist does a great job in keeping the song in line and flowing the way it should. This is a positive song with a positive vibe. The song is so much more than anyone could have thought. This is a wonderful song with a wonderful meaning and a big time hit.”</p>

                        <p>“The band has something different and edgy to offer, and I think rock fans could get into the song. The instrumentals changed up frequently, making the song sound fresh and new, giving it more variety and liveliness. The vocals show strength, confidence and charisma throughout.”</p>

                        <p>“The musical introduction has an A7X feel to it right down to the distortion of the guitar. A rockin' bassline and insane drums really tie everything together very tightly. The tempo change is done without flaw and the timing is evidence of that. The lyrics are the artists own and do not sound cheap or generic. The harmony of this duet work in a very positive way for the band. The lead singer has a great vocal range and his pitch is very good. This is a definite hit in my opinion. It would fit in nicely among alternative and metal fans. It sounds like something I could hear at Mayhem or Ozzfest.”</p> 
                        
                    </div>
                    
                </div>
                
                <br><br><br>
                
                <div class="row content">

                    <h1 class="content-header" id="post-review-header">COMMENTS</h1><br>

                    <div class="container">

                        <hr class="styled"><br><br>

                    </div>
                    
                    <div class="container" id="comment-section">

                    </div>
                    
                </div>                
                
            </div>
                
            <br><br><br>
            
            <footer id="myFooter">
               
                <div class="container">
                   
                    <div class="row">
                       
                        <div class="col-sm-3 myCols">
                            <a class="bottom-link" href="index.html"><h5>HOME</h5></a>
                        </div>
                        
                        <div class="col-sm-3 myCols">
                            <a class="bottom-link" href="about.html"><h5>ABOUT</h5></a>
                        </div>
                        
                        <div class="col-sm-3 myCols">
                            <a class="bottom-link" href="music.html"><h5>MUSIC</h5></a>
                        </div>
                        
                        <div class="col-sm-3 myCols">
                            <a class="bottom-link" href="https://throneofeden.bandcamp.com/merch" target="_blank"><h5>MERCH</h5></a>
                        </div>
                        
                    </div>
                    
                </div>
                
                <div class="social-networks">
                   
                    <a href="https://www.facebook.com/throneofedenband" target="_blank">
                        <i class="fa fa-facebook"></i>
                    </a>

                    <a href="https://www.instagram.com/throneofedenband/" target="_blank">
                        <i class="fa fa-instagram"></i>
                    </a>

                    <a href="https://www.twitter.com/throneofedenal" target="_blank">
                        <i class="fa fa-twitter"></i>
                    </a>

                    <a href="https://www.youtube.com/throneofedenband" target="_blank">
                        <i class="fa fa-youtube"></i>
                    </a>

                    <a href="https://open.spotify.com/artist/09FPTlK7mMMXZdpKnyTBgy" target="_blank">
                        <i class="fa fa-spotify"></i>
                    </a>

                    <a href="https://soundcloud.com/throne-of-eden" target="_blank">
                        <i class="fa fa-soundcloud"></i>
                    </a>

                    <a href="http://throneofeden.bandcamp.com" target="_blank">
                        <i class="fa fa-bandcamp"></i>
                    </a>

                    <a href="https://www.reverbnation.com/throneofeden" target="_blank">
                        <i class="fa fa-star"></i>
                    </a>
                    
                </div>
                
                <div class="footer-copyright">
                   
                    <p>
                        © 2017 &nbsp;&nbsp;|&nbsp;&nbsp;  
                        Throne of Eden  &nbsp;&nbsp;|&nbsp;&nbsp;  
                        Website by CCappsDevelopment 
                    </p>
                    
                </div>
                
            </footer>
            
        </div>
                
        <script
              src="https://code.jquery.com/jquery-3.2.1.min.js"
              integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
              crossorigin="anonymous">
        </script>
        
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        
        <script type="text/javascript" src="/scripts/main.js"></script>

        
    </body>

</html>