<!DOCTYPE html>
<html>
    
    <head>
        
        <title> Throne of Eden | Music </title> 
        <meta charset="utf-8" />
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        
        <link rel="stylesheet" type="text/css" href="/font-awesome/css/font-awesome.min.css"/>
        <link rel="stylesheet" type="text/css" href="/fonts/fonts.min.css" />
        <link rel="stylesheet" type="text/css" href="/css/stylesheet.css">

        
    </head>
    
    <body>
        
        <div class="container-fluid">

			<!-- navbar navbar-default -->
			<div class="navbar navbar-default" role="navigation">
				
				<!-- navbar-header -->
				<div class="navbar-header">
					
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					
                    <a class="navbar-brand" href="#">
                        
                        <img src="/img/banner-logo.jpg" id="logo" class="" width="300" height="80">

                    </a>					
					
				</div><!-- /navbar-header -->
				
                <div class="nav-wrapper">
                   
                    <!-- navbar -->
                    <div class="navbar-collapse collapse">
                       
                        <ul class="nav navbar-nav left">
                            <li><a href="index.html">HOME</a></li>
                            <li><a href="about.html">ABOUT</a></li>
                        </ul>
                    
                        <ul class="nav navbar-nav right">
                            <li><a href="music.html">MUSIC</a></li>
                            <li><a href="https://throneofeden.bandcamp.com/merch" target="_blank">MERCH</a></li>
                        </ul>
                        
                    </div><!-- /navbar -->
                    
                </div>
                
            </div><!-- /navbar navbar-default -->            
            
            <div class="navbar social-bar social-lg" id="social">
                
                <div class="social-links-container">   

                    <div id="social-links">

                        <a href="https://www.facebook.com/throneofedenband" target="_blank">
                            <i class="fa fa-facebook fa-lg fa-top-link"></i>
                        </a>
                        
                        <a href="https://www.instagram.com/throneofedenband/" target="_blank">
                            <i class="fa fa-instagram fa-lg fa-top-link"></i>
                        </a>
                        
                        <a href="https://www.twitter.com/throneofedenal" target="_blank">
                            <i class="fa fa-twitter fa-lg fa-top-link"></i>
                        </a>
                        
                        <a href="https://www.youtube.com/throneofedenband" target="_blank">
                            <i class="fa fa-youtube fa-lg fa-top-link"></i>
                        </a>
                        
                        <a href="https://open.spotify.com/artist/09FPTlK7mMMXZdpKnyTBgy" target="_blank">
                            <i class="fa fa-spotify fa-lg fa-top-link"></i>
                        </a>
                        
                        <a href="https://soundcloud.com/throne-of-eden" target="_blank">
                            <i class="fa fa-soundcloud fa-lg fa-top-link"></i>
                        </a>
                                                
                        <a href="http://throneofeden.bandcamp.com" target="_blank">
                            <i class="fa fa-bandcamp fa-lg fa-top-link"></i>
                        </a>
                        
                        <a href="https://www.reverbnation.com/throneofeden" target="_blank">
                            <i class="fa fa-star fa-lg fa-top-link"></i>
                        </a>

                    </div>

                </div>
                
            </div>   
             
            <br><br><br>
            
            <div class="container">
                
                <div class="row content">
                   
                    <h1 class="content-header" id="music-header">MUSIC</h1>
                    <br>
                
                    <div class="container">

                        <hr class="styled"><br><br>

                    </div>
                    
                    <div class="col-sm-6">
                       
                        <div class="article-music">
                           
                            <iframe id="final-days-playlist" src="https://open.spotify.com/embed?uri=spotify:album:77NeCEM4q438WOpjArUIE9" frameborder="0" allowtransparency="true"></iframe>
                            
                        </div>

                    </div>
                                        
                    <div class="col-sm-6">
                       
                        <div class="article-music">
                           
                            <img id="final-days-cover" src="/img/final-days-cover.jpg" alt="The Final Days Album Artwork">
                            
                        </div>

                    </div>
                    
                </div>
                
                <br><br><br>
                
                <div class="row content">
                   
                    <h1 class="content-header" id="video-header">VIDEOS</h1>
                    <br>
                
                    <div class="container">

                        <hr class="styled"><br><br>

                    </div>
                    
                    <div class="col-sm-12">
                       
                        <div class="article-video">
                          
                           <iframe class="video-frame" src="https://www.youtube.com/embed/9VG0wlIGO9Y" frameborder="0" allowfullscreen></iframe>
                            
                        </div>
                        <br><hr width="520px"><br>
                        <div class="article-video">
                          
                           <iframe class="video-frame" src="https://www.youtube.com/embed/aUFjT-7t-_Q" frameborder="0" allowfullscreen></iframe>
                            
                        </div>
                        <br><hr width="520px"><br>
                        <div class="article-video">
                          
                           <iframe class="video-frame" src="https://www.youtube.com/embed/E89SxY7sNqQ" frameborder="0" allowfullscreen></iframe>
                            
                        </div>
                        <br><hr width="520px"><br>
                        <div class="article-video">
                          
                           <iframe class="video-frame" src="https://www.youtube.com/embed/m0kpe-UPtBM" frameborder="0" allowfullscreen></iframe>
                            
                        </div>

                    </div>

                </div>

            </div>  
            
            <br><br><br>  

            <footer id="myFooter">

                <div class="container">

                    <div class="row">

                        <div class="col-sm-3 myCols">
                            <a class="bottom-link" href="index.html"><h5>HOME</h5></a>
                        </div>

                        <div class="col-sm-3 myCols">
                            <a class="bottom-link" href="about.html"><h5>ABOUT</h5></a>
                        </div>

                        <div class="col-sm-3 myCols">
                            <a class="bottom-link" href="music.html"><h5>MUSIC</h5></a>
                        </div>

                        <div class="col-sm-3 myCols">
                            <a class="bottom-link" href="https://throneofeden.bandcamp.com/merch" target="_blank"><h5>MERCH</h5></a>
                        </div>

                    </div>

                </div>

                <div class="social-networks">

                    <a href="https://www.facebook.com/throneofedenband" target="_blank">
                        <i class="fa fa-facebook"></i>
                    </a>

                    <a href="https://www.instagram.com/throneofedenband/" target="_blank">
                        <i class="fa fa-instagram"></i>
                    </a>

                    <a href="https://www.twitter.com/throneofedenal" target="_blank">
                        <i class="fa fa-twitter"></i>
                    </a>

                    <a href="https://www.youtube.com/throneofedenband" target="_blank">
                        <i class="fa fa-youtube"></i>
                    </a>

                    <a href="https://open.spotify.com/artist/09FPTlK7mMMXZdpKnyTBgy" target="_blank">
                        <i class="fa fa-spotify"></i>
                    </a>

                    <a href="https://soundcloud.com/throne-of-eden" target="_blank">
                        <i class="fa fa-soundcloud"></i>
                    </a>

                    <a href="http://throneofeden.bandcamp.com" target="_blank">
                        <i class="fa fa-bandcamp"></i>
                    </a>

                    <a href="https://www.reverbnation.com/throneofeden" target="_blank">
                        <i class="fa fa-star"></i>
                    </a>

                </div>

                <div class="footer-copyright">

                    <p>
                        © 2017 &nbsp;&nbsp;|&nbsp;&nbsp;  
                        Throne of Eden  &nbsp;&nbsp;|&nbsp;&nbsp;  
                        Website by CCappsDevelopment 
                    </p>
                    
                </div>

            </footer>       
       
        </div>
                
        <script
              src="https://code.jquery.com/jquery-3.2.1.min.js"
              integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
              crossorigin="anonymous">
        </script>
        
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        
        <script type="text/javascript" src="/scripts/main.js"></script>

        
    </body>

</html>